<h1>This is your board <%= session["player1"] %></h1>

<table>

	<tr>
		<th></th>
		<% [*'A'..'J'].each do |letter|%>
		<th><%= letter%></th>
		<%end%>
	<% x = 10 %>
	 <% @board1.grid.values.each do |cell| %>
	 	<%= "</tr><tr><th>#{x / 10}</th>" if x % 10 == 0 %>
	 	<td><%= cell.content.class == Ship ? "<img src=\"/ship.jpg\" alt=\"S\" width=\"50\" height=\"50\"" : "<img src=\"/water.jpg\" alt=\"W\" width=\"50\" height=\"50\"" %></td>
	 	<% x += 1 %>
	 <% end %>	
	
	
</table>

<h1><%= session["player1"] %>, please place your boats</h1>

<p>Just select cell, orientation and choose the type of ship from the available options:</p>

<table>
	<style>
	 input.hidden{
	 	<%= "visibility: hidden;"%>
	 }
	 </style>

	<tr>
		<th></th>
		<% [*'A'..'J'].each do |letter|%>
		<th width="0" height="20"><%= letter%></th>
		<%end%>
	<% x = 10 %>
	<% coords = [] %>
	<% [*'A'..'J'].each {|letter| [*1..10].each {|number| coords << "#{letter}#{number}" }} %>
	<form action="/place_ships_player_one" method='post'>
	 <% coords.each do |cell|%>
	 	<%= "</tr><tr><th width=\"50\" height=\"0\">#{x / 10}</th>" if x % 10 == 0 %>
	 	<td width="50" height="50">
	 		<input type="radio" name="coord" value=<%= "#{cell}" %> <%= "class=\"hidden\"" if @board1.grid[cell.to_sym].content.class == Ship %>>	
	 	</td>
	 	<% x += 1 %>
	 <% end %>
	 <style>
	 input.hidden{
	 	<%= "visibility: hidden;"%>
	 }
	 </style>
	 <input type="submit" name = "type_ship" value="carrier" <%= "class=\"hidden\"" if session.key?"carrier" %>>
	 <input type="submit" name = "type_ship" value="battleship" <%= "class=\"hidden\"" if session.key?"battleship" %>>
	 <input type="submit" name = "type_ship" value="destroyer" <%= "class=\"hidden\"" if session.key?"destroyer" %>>
	 <input type="submit" name = "type_ship" value="submarine" <%= "class=\"hidden\"" if session.key?"submarine" %>>
	 <input type="submit" name = "type_ship" value="patrol_boat" <%= "class=\"hidden\"" if session.key?"patrol_boat" %>>
	 <br>
	 <br>
	 <fieldset style="width:400px;">
	 <legend ><b>Orientation</b></legend>
	 <label>Horizontal</label><input type="radio" name="orientation" value="horizontally" checked="checked" />
	 <label>Vertical</label><input type="radio" name="orientation" value="vertically">
	 </fieldset>
	 </form>
	 <br>
	 <br>

	
	
</table>















