<h1>This is your board <%= session["player2"] %></h1>

<table>

	<tr>
		<th></th>
		<% [*'A'..'J'].each do |letter|%>
		<th><%= letter%></th>
		<%end%>
	<% x = 10 %>
	 <% @board2.grid.values.each do |cell| %>
	 	<%= "</tr><tr><th>#{x / 10}</th>" if x % 10 == 0 %>
	 	<td><%= cell.content.class %></td>
	 	<% x += 1 %>
	 <% end %>	
	
	
</table>

<h1><%= session["player2"] %>, please place your boats</h1>

<p>Just select cell, orientation and choose the type of ship from the available options:</p>

<table>

	<tr>
		<th></th>
		<% [*'A'..'J'].each do |letter|%>
		<th><%= letter%></th>
		<%end%>
	<% x = 10 %>
	<% coords = [] %>
	<% [*'A'..'J'].each {|letter| [*1..10].each {|number| coords << "#{letter}#{number}" }} %>
	<form action="/place_ships_player_two" method='post'>
	 <% coords.each do |cell|%>
	 	<%= "</tr><tr><th>#{x / 10}</th>" if x % 10 == 0 %>
	 	<td>
	 		<input type="radio" name="coord" value=<%= "#{cell}" %>>	
	 	</td>
	 	<% x += 1 %>
	 <% end %>
	 <style>
	 input.hidden{
	 	<%= "visibility: hidden;"%>
	 }
	 </style>
	 <input type="submit" name = "type_ship" value="carrier" <%= "class=\"hidden\"" if session.key?"carrier2" %>>
	 <input type="submit" name = "type_ship" value="battleship" <%= "class=\"hidden\"" if session.key?"battleship2" %>>
	 <input type="submit" name = "type_ship" value="destroyer" <%= "class=\"hidden\"" if session.key?"destroyer2" %>>
	 <input type="submit" name = "type_ship" value="submarine" <%= "class=\"hidden\"" if session.key?"submarine2" %>>
	 <input type="submit" name = "type_ship" value="patrol_boat" <%= "class=\"hidden\"" if session.key?"patrol_boat2" %>>
	 <br>
	 <br>
	 <fieldset style="width:400px;">
	 <legend ><b>Orientation</b></legend>
	 <label>Horizontal</label><input type="radio" name="orientation" value="horizontally" checked="checked" />
	 <label>Vertical</label><input type="radio" name="orientation" value="vertically">
	 </fieldset>
	 </form>
	 <br>
	 <br>

	
	
</table>
