<head>
<META HTTP-EQUIV="refresh" CONTENT="10">
</head>

<% 	miss = "<img src=\"/miss.jpg\" alt=\"S\" width=\"50\" height=\"50\"" 
	 		water = "<img src=\"/water.jpg\" alt=\"W\" width=\"50\" height=\"50\""
	 		ship = "<img src=\"/ship.jpg\" alt=\"S\" width=\"50\" height=\"50\"" 
	 		fire = "<img src=\"/fire.jpg\" alt=\"S\" width=\"50\" height=\"50\"" %>


<h2><%= session["player2"] %>, this is your operations center</h2>


<h3>Here you can see your opponent board</h3>
<style>
 input.hidden{
	 	<%= "visibility: hidden;"%>
	 }
</style>



<table>

	<tr>
		<th></th>
		<% [*'A'..'J'].each do |letter|%>
		<th><%= letter%></th>
		<%end%>
	<% x = 10 %>
	 <% @board1.grid.values.each do |cell| %>
	 	<%= "</tr><tr><th>#{x / 10}</th>" if x % 10 == 0 %>
	 	<td><%= cell.hit? ? cell.content.class == Ship ? fire : miss : cell.content.class == Ship ? water : water %></td>
	 	<% x += 1 %>
	 <% end %>	
	
	
</table>


</style>	

<% if GAME.turn == GAME.player2 %>
<p>Please select a cell and shoot to your opponent boats</p>
<table>
	<tr>
		<th></th>
		<% [*'A'..'J'].each do |letter|%>
		<th><%= letter%></th>
		<%end%>
	<% x = 10 %>
	<% coords = [] %>
	<% [*'A'..'J'].each {|letter| [*1..10].each {|number| coords << "#{letter}#{number}" }} %>
	<form action="/place_shoot_player_two" method='post'>
	 <% coords.each do |cell|%>
	 	<%= "</tr><tr><th>#{x / 10}</th>" if x % 10 == 0 %>
	 	<td width="50" height="50">
	 		<input type="radio" name="coord" value=<%= "#{cell}" %> <%= "class=\"hidden\"" if @board1.grid[cell.to_sym].hit? %>>
	 	</td>
	 	<% x += 1 %>
	 <% end %>
	 <input type="submit" name = "shoot" value="Place shoot">
	 </form>		
</table>
<% end %>


<h3>Here, you can check your ships are and where your opponent has placed the shoots</h3>

<table>

	

	<tr>
		<th></th>
		<% [*'A'..'J'].each do |letter|%>
		<th><%= letter%></th>
		<%end%>
	<% x = 10 %>
	 <% @board2.grid.values.each do |cell| %>
	 	<%= "</tr><tr><th>#{x / 10}</th>" if x % 10 == 0 %>

	 	<td><%= cell.hit? ? cell.content.class == Ship ? fire : miss : cell.content.class == Ship ? ship : water %></td>
	 	<% x += 1 %>
	 <% end %>	
	
	
</table>